.infoblock__container {
    min-height: 100vh;
}

$info-block-primary : lighten($primary-color, 20%);
$info-block-light-grey : darken($white, 5%);
$info-block-dark-grey : $dark-gray;

.infocard {

    .infocard__info {
        position: relative;
        display: flex;
        flex-direction: column;

        .infocard__textarea {
            padding: 5rem 3rem;
            font-family: 'Open Sans', sans-serif;
        }
    }

    .infocard__header {
        line-height: 1.4;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $info-block-primary;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }


    .infocard__text {
        font-size: 1rem;
        text-align: center;
        color: $info-block-dark-grey;
    }

    .infocard__ornament {
        position: relative;
        &:before {
            content:'';
            width: 60px;
            height: 60px;
            background-color: $white;
            position: absolute;
            clip-path: polygon(50% 60%, 0 0, 100% 0);
        }
    }

    .infocard__ornament--bottom {
        &:before {
            bottom: 0;
            left:50%;
            transform: translateY(90%)
            translateX(-50%);
        }
    }

    &:nth-child(even) {
        .infocard-layout {
            order: 2;
        }
        .infocard__info {

            .infocard__info--primaryBG {
                background-color: $info-block-primary;
                color: $info-block-light-grey;
            }

            .infocard__header--contrast {
                color: $info-block-light-grey;
            }

            .infocard__text--contrast {
                color: $info-block-light-grey;
            }
        }

        .infocard__ornament--top {
            &:before {
                background-color: $info-block-primary;
                top: 0;
                left: 50%;
                transform: rotateZ(180deg) translateX(50%) translateY(90%);
            }
        }
    }
}

