.info-block-container {
    min-height: 100vh;
}

.infoCard__info {
    padding: 5rem 3rem;
}

.infoCard__info--primaryBG {
    background-color: $primary-color;
    color: $white;
}

.infoCard__ornament {
    position: relative;
    &:before {
        content:'';
        width: 60px;
        height: 60px;
        background-color: $white;
        position: absolute;
        clip-path: polygon(50% 60%, 0 0, 100% 0);
    }
}

.infoCard__ornament--bottom {
    &:before {
        bottom: 0;
        transform: translateY(90%);
    }
}

.infoCard__ornament--top {
    &:before {
        background-color: $primary-color;
        top: 0;
        transform: rotateZ(180deg)
        translateY(90%);
    }
}

.infoCard__header {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $primary-color;
}

.infoCard__header--contrast {
    color: $white;
}

.infoCard__text {
    font-size: 1rem;
    text-align: center;
}

